:root {
  --theme-color: #d1392b;
  --theme-color-two: #841309;
  --body-bg: #fcfbf8;
  --sidebar-bg: #ffffff;
  --body-color: #404040;
  --bold-color: #191919;
  --border-color: #d6d6d6;
  --link-hover: #111111;
  --button-hover: #222222;
}
